@import 'cui-jquery/src/scss/var.scss';
.survey-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a[disabled] {
		flex-shrink: 0;
		color: $color-disabled;
	}
}
.radio {
	display: flex;
	flex-direction: column;
	gap: $g2;
	label {
		border: $color-border 1px solid;
		padding: 0 $g2;
		border-radius: $g1;
		&:hover {
			color: $color-bg;
			background-color: $color-major;
		}
	}
}
